* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf1f6;
}

.desk {
    width: 0px;
    height: 0px;
}

.card_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 150px;
}

.card_box img {
    width: 100%;
    height: 100%;
}

.gamer {
    width: 430px;
    height: 150px;
}

.gamer1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.gamer2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.gamer3 {
    display: none;
    position: absolute;
    top: 0;
    left: 510px;
}

.oprete {
    float: right;
    width: 70px;
    height: 150px;
    border: 1px solid green;
}

.oprete button {
    width: 100%;
    outline: none;
}

.b1 {
    display: inline-block;
    width: 100%;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    border-top: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.desk_screen {
    display: block;
    position: absolute;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 70px;
    text-align: center;
    background-color: #00ff00;
    color: white;
    font-size: 40px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0.2px 1.2px rgba(0, 0, 0, 0.015), 0px 0.3px 2.7px rgba(0, 0, 0, 0.022), 0px 0.6px 4.6px rgba(0, 0, 0, 0.027), 0px 0.9px 6.9px rgba(0, 0, 0, 0.031), 0px 1.3px 10px rgba(0, 0, 0, 0.035), 0px 1.8px 14.2px rgba(0, 0, 0, 0.039), 0px 2.5px 20.1px rgba(0, 0, 0, 0.043), 0px 3.7px 29.2px rgba(0, 0, 0, 0.048), 0px 5.6px 45px rgba(0, 0, 0, 0.055), 0px 10px 80px rgba(0, 0, 0, 0.07);
}

.oprate_screen {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    height: 25px;
    text-align: center;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin-bottom: 3px;
}